<div class="alert alert-primary" role="alert">
<div class="jumbotron text-center alert-info" role="alert">
<h1>Editar Ciudad</h1>
</div>
</div>
<div class="container">
<div class="alert alert-primary" role="alert">
<%= form_for @product do |f| %>
  <div>
    
     <h6> Ingrese nombre </h6>
    <%= f.text_field :name %>
  </div>
  <br>

  <div>
    <h6> Descripcion </h6>
    <%= f.text_area :description %>
  </div>
  <div>
    <h6> Precio </h6>
    <%= f.number_field :price %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>